<div class="container">
    
    
    <div id="searchDiv">
        <h2>Let's book your flight</h2>
        <div id="search">
            <div class="searchBar">
                <img src="src/../../assets/icons/flight_takeoff_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                <input type="text" placeholder="From">
            </div>
            <div class="searchBar">
                <img src="src/../../assets/icons/flight_land_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                <input type="text" placeholder="To">
            </div>
        </div>
    </div>
    
    <div id="destinationsDiv">
        <h2>Popular destinations</h2>
        <div id="popularDestinationsContainer">
            <div class="popularDestination">
                <div class="destinationImageContainer">
                    <img src="src/../../assets/images/pexels-lina-kivaka-5623947.jpg" alt="London">
                </div>
                <h4>London</h4>
            </div>
            <div class="popularDestination">
                <div class="destinationImageContainer">
                    <img src="src/../../assets/images/pexels-griffin-wooldridge-2676642.jpg" alt="Rome">
                </div>
                <h4>Rome</h4>
            </div>
        </div>
    </div>
    
</div>